<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Authors</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
  <link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&family=Concert+One&display=swap" rel="stylesheet">
</head>

<body>
  <!-- NAVBAR -->
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" href="http://localhost:8080/authors">Authors</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="http://localhost:8080/books">Books</a>
        </div>
      </div>
    </div>
  </nav>

  <!-- CONTAINER -->
  <div class="container rounded mt-5 mb-3 p-5">
    <h1 class="fw-bold">Add an author</h1>
    <div class="row">
      <div class="col-6">
        <form action="/authors" method="post">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">First Name</label>
            <input name="first_name" class="form-control" type="text">
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Last Name</label>
            <input name="last_name" class="form-control" type="text">
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Notes</label>
            <input name="notes" class="form-control" type="text">
          </div>
          <div class="mb-3">
            <button type="submit" class="btn">Add</button>
          </div>
        </form>
      </div>

      <!-- TABLE -->
      <div class="col-6">
        <table class="table">
          <thead class="table-danger">
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Name</th>
              <th scope="col">Notes</th>
              <th scope="col">Actions</th>
            </tr>
            <tbody>
              <tr th:each="author: ${authors}">
                <th scope="row">[[${author.id}]]</th>
                <td>[[${author.first_name}]] [[${author.last_name}]]</td>
                <td>[[${author.notes}]]</td>
                <td>
                  <a th:href="@{|/authors/detail/${author.id}|}">
                    <i class="bi bi-pencil-fill"></i>
                  </a>
                  <a th:href="@{|/authors/delete/${author.id}|}">
                    <i class="bi bi-trash-fill"></i>
                  </a>
                </td>
              </tr>
            </tbody>
        </table>
      </div>

    </div>
  </div>
 
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>

</html>